<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>946551142220-6kpor8mjdlrvnb6mpldccrvhkb2iinht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.946551142220-6kpor8mjdlrvnb6mpldccrvhkb2iinht</string>
	<key>API_KEY</key>
	<string>AIzaSyDdx5kz6OrP7d4VvgBueEhHJGGWmoQodDs</string>
	<key>GCM_SENDER_ID</key>
	<string>946551142220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.diegocastro.arfurnitureapp</string>
	<key>PROJECT_ID</key>
	<string>ar-furniture-app-8c4f8</string>
	<key>STORAGE_BUCKET</key>
	<string>ar-furniture-app-8c4f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946551142220:ios:1c5ede67e5ec42ba53c1e9</string>
</dict>
</plist>